<div class="col-md-4">
  <% if check_in.errors.any? %>
    <div class="check_in_error_messages">
      <h3><%= pluralize(check_in.errors.count, "error") %> stopped us from adding this to the database.</h3>

      <ul>
        <% check_in.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for check_in do |f| %>
    <div class="container">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :beer %>
          <%= f.collection_select :beer, Beer.all, :id, :name, class:"form-control" %><br>
        </div>
        <div class="form-group">
          <%= f.label :rating %>
          <%= f.select :rating, options_for_select(0..10), class:"form-control"%><br>
        </div>
        <div class="form-group col-md-8">
          <%= f.label :comment %>
          <%= f.text_area :comment, class:"form-control", placeholder:"Add comment here..." %><br>
        </div>

        <%= f.submit "Add Check In", class:"btn btn-primary" %>
      </div>

      <div class="col-md-6">
        <p>Don't see your beer in the list? Add it below:</p>
        <%= f.fields_for :beer do |beer_form| %>
          <%= beer_form.submit %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
