
<h3><%= link_to @check_in.beer.name, beer_path(@check_in.beer) %></h3>
<p>brewed by <%= @check_in.beer.brewery %></p><br>
<p><strong>Rating: <%= @check_in.rating %>/10</strong></p><br>
<p><strong>Comment:</strong><br><%= @check_in.comment %></p><br>
<p><%= @check_in.user.username %>'s Check In</p>
<%= link_to "Back", check_ins_path %>
